<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column bg-secondary text-white  ">
    <main role="main" class="d-flex align-items-center flex-column bd-highlight mb-3">
        <h1 class="cover-heading mb-auto p-2 bd-highlight">Crud de pessoas.</h1>
        <p class="lead p-2 bd-highlight text-center">O desafio consiste em criar uma aplicação Angular que permite
            listar, cadastrar, editar e excluir Pessoas.</p>
        <p class="lead p-2 bd-highlight text-center" >Desafio proposto pela <a href="https://www.minsait.com/pt" class="link-light"
                target="_blank">Minsait</a> para avaliação do processo seletivo.</p>
        <p class="lead p-2 bd-highlight">
            <a class="btn btn-lg btn-primary" routerLink="/profile">Ir para aplicação</a>
        </p>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner text-center">
            <p>Codado com ❤️ por <a href="https://github.com/DamascenoAlves" class="link-light" target="_blank">Matheus Damasceno</a>.</p>
        </div>
    </footer>
</div>